nav{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    height: 10vh;

  }
  .wrapper{
    position: fixed;
    top: 0;
    /*left: -100%;*/
    right: -100%;
    height: 100%;
    width: 100%;
    background: #000;
    /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
    transition: all 0.6s ease-in-out;
  }
  #active:checked ~ .wrapper{
    /*left: 0;*/
    right:0;
  }
  .menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    /*left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    /*color: #fff;*/
    /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
    transition: all 0.3s ease-in-out;
  }
  .menu-btn span,
  .menu-btn:before,
  .menu-btn:after{
      content: "";
      position: absolute;
      top: calc(50% - 1px);
      left: 30%;
      width: 40%;
      border-bottom: 2px solid #000;
      transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .menu-btn:before{
    transform: translateY(-8px);
  }
  .menu-btn:after{
    transform: translateY(8px);
  }
  
  
  .close {
      z-index: 1;
      width: 100%;
      height: 100%;
      pointer-events: none;
      transition: background .6s;
  }
  
  /* closing animation */
  #active:checked + .menu-btn span {
      transform: scaleX(0);
  }
  #active:checked + .menu-btn:before {
      transform: rotate(45deg);
    border-color: #fff;
  }
  #active:checked + .menu-btn:after {
      transform: rotate(-45deg);
    border-color: #fff;
  }
  .wrapper ul{
    position: absolute;
    top: 60%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    height: 10%;
    margin: 15px 0;
  }
  .wrapper ul li a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    position: absolute;
    line-height: 50px;
    margin: 5px 30px;
    opacity: 0;
    transition: all 0.3s ease;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
     /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
    /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: #8800FF;
  }
  input[type="checkbox"]{
    display: none;
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #202020;
  }
  .content .title{
    font-size: 40px;
    font-weight: 700;
  }
  .content p{
    font-size: 35px;
    font-weight: 600;
  }
  
  #active:checked ~ .wrapper ul li a{
    opacity: 1;
  }
  .wrapper ul li a{
    transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
  }
  #active:checked ~ .wrapper ul li a{
      transform: none;
      transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); /* easeOutBackを緩めた感じ */
     transition-delay: .6s;
    transform: translateX(-100px);
  }
  

body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1027%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M587.17 320.95 a206.22 206.22 0 1 0 412.44 0 a206.22 206.22 0 1 0 -412.44 0z' fill='rgba(136%2c 0%2c 255%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1279.367%2c644.14C1346.735%2c641.562%2c1411.86%2c618.096%2c1449.256%2c562.001C1491.346%2c498.866%2c1513.789%2c416.176%2c1474.696%2c351.143C1436.393%2c287.425%2c1353.71%2c279.853%2c1279.367%2c279.385C1203.874%2c278.91%2c1121.067%2c285.483%2c1079.735%2c348.658C1035.268%2c416.625%2c1039.886%2c508.628%2c1085.355%2c575.929C1126.487%2c636.81%2c1205.948%2c646.95%2c1279.367%2c644.14' fill='rgba(136%2c 0%2c 255%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1563.701%2c1365.559C1670.82%2c1360.381%2c1740.072%2c1264.554%2c1792.106%2c1170.779C1842.098%2c1080.686%2c1874.801%2c977.907%2c1830.393%2c884.934C1779.761%2c778.929%2c1681.165%2c694.251%2c1563.701%2c692.588C1443.863%2c690.891%2c1340.368%2c771.639%2c1283.598%2c877.191C1229.81%2c977.199%2c1237.054%2c1096.377%2c1293.551%2c1194.88C1350.351%2c1293.911%2c1449.67%2c1371.072%2c1563.701%2c1365.559' fill='rgba(136%2c 0%2c 255%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M78.38 610.46 a356.98 356.98 0 1 0 713.96 0 a356.98 356.98 0 1 0 -713.96 0z' fill='rgba(136%2c 0%2c 255%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1540.929%2c458.564C1588.787%2c459.056%2c1632.242%2c434.974%2c1659.015%2c395.302C1689.891%2c349.549%2c1712.99%2c291.511%2c1686.251%2c243.223C1658.962%2c193.943%2c1597.176%2c178.981%2c1540.929%2c182.051C1490.256%2c184.817%2c1444.842%2c213.074%2c1420.714%2c257.719C1397.725%2c300.258%2c1402.137%2c351.429%2c1426.971%2c392.919C1451.101%2c433.234%2c1493.946%2c458.081%2c1540.929%2c458.564' fill='rgba(136%2c 0%2c 255%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1514.853%2c632.296C1546.891%2c633.365%2c1580.509%2c624.417%2c1597.424%2c597.187C1615.144%2c568.662%2c1610.617%2c532.969%2c1595.031%2c503.224C1578.059%2c470.835%2c1551.398%2c440.839%2c1514.853%2c439.609C1476.614%2c438.322%2c1441.381%2c463.036%2c1424.749%2c497.493C1409.852%2c528.356%2c1422.261%2c563.486%2c1441.305%2c591.977C1457.957%2c616.889%2c1484.905%2c631.297%2c1514.853%2c632.296' fill='rgba(136%2c 0%2c 255%2c 1)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1027'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");

    width: 100vw;
    height: 25vh;
    overflow: hidden;
    
}