nav{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    height: 10vh;
    width: 100%;
    z-index: 1000;
    position: fixed;
  }
  .wrapper{
    position: fixed;
    top: 0;
    /*left: -100%;*/
    right: -100%;
    height: 100%;
    width: 100%;
    background: #000;
    /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
    transition: all 0.6s ease-in-out;
  }
  #active:checked ~ .wrapper{
    /*left: 0;*/
    right:0;
  }
  .menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    /*left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    /*color: #fff;*/
    /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
    transition: all 0.3s ease-in-out;
    color: #fff;
  }
  .menu-btn span,
  .menu-btn:before,
  .menu-btn:after{
      content: "";
      position: absolute;
      top: calc(50% - 1px);
      left: 30%;
      width: 40%;
      border-bottom: 2px solid #fff;
      transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .menu-btn:before{
    transform: translateY(-8px);
  }
  .menu-btn:after{
    transform: translateY(8px);
  }
  
  
  .close {
      z-index: 1;
      width: 100%;
      height: 100%;
      pointer-events: none;
      transition: background .6s;
  }
  
  /* closing animation */
  #active:checked + .menu-btn span {
      transform: scaleX(0);
  }
  #active:checked + .menu-btn:before {
      transform: rotate(45deg);
    border-color: #fff;
  }
  #active:checked + .menu-btn:after {
      transform: rotate(-45deg);
    border-color: #fff;
  }
  .wrapper ul{
    position: absolute;
    top: 60%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    height: 10%;
    margin: 15px 0;
  }
  .wrapper ul li a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    position: absolute;
    line-height: 50px;
    margin: 5px 30px;
    opacity: 0;
    transition: all 0.3s ease;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
     /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
    /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: #8800FF;
  }
  input[type="checkbox"]{
    display: none;
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #202020;
  }
  .content .title{
    font-size: 40px;
    font-weight: 700;
  }
  .content p{
    font-size: 35px;
    font-weight: 600;
  }
  
  #active:checked ~ .wrapper ul li a{
    opacity: 1;
  }
  .wrapper ul li a{
    transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
  }
  #active:checked ~ .wrapper ul li a{
      transform: none;
      transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); /* easeOutBackを緩めた感じ */
     transition-delay: .6s;
    transform: translateX(-100px);
  }
  
/*Header*/
header{
  width: auto;
  height:50vh;
  color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M867 784.59 a240.95 240.95 0 1 0 481.9 0 a240.95 240.95 0 1 0 -481.9 0z' fill='rgba(136%2c 0%2c 255%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1156.841%2c378.488C1192.805%2c377.825%2c1227.327%2c360.227%2c1244.22%2c328.471C1260.249%2c298.339%2c1251.496%2c262.78%2c1233.974%2c233.491C1217.006%2c205.128%2c1189.882%2c183.244%2c1156.841%2c182.414C1122.413%2c181.55%2c1090.916%2c200.217%2c1072.695%2c229.441C1053.272%2c260.592%2c1045.648%2c299.834%2c1063.696%2c331.801C1081.996%2c364.216%2c1119.623%2c379.174%2c1156.841%2c378.488' fill='rgba(136%2c 0%2c 255%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1658.491%2c450.289C1693.817%2c452.819%2c1732.457%2c448.46%2c1752.682%2c419.387C1775.478%2c386.617%2c1779.364%2c341.252%2c1757.642%2c307.761C1737.289%2c276.381%2c1695.892%2c273.864%2c1658.491%2c274.164C1621.821%2c274.458%2c1579.757%2c277.214%2c1562.06%2c309.332C1544.695%2c340.849%2c1564.771%2c377.686%2c1585.089%2c407.385C1602.24%2c432.455%2c1628.194%2c448.119%2c1658.491%2c450.289' fill='rgba(136%2c 0%2c 255%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1048.824%2c216.509C1110.593%2c215.725%2c1168.586%2c187.839%2c1201.674%2c135.674C1237.394%2c79.359%2c1250.192%2c8.156%2c1218.04%2c-50.27C1184.88%2c-110.528%2c1117.6%2c-142.839%2c1048.824%2c-142.08C981.38%2c-141.336%2c919.219%2c-105.28%2c885.954%2c-46.606C853.132%2c11.286%2c854.078%2c83.055%2c889.105%2c139.64C922.436%2c193.486%2c985.502%2c217.312%2c1048.824%2c216.509' fill='rgba(136%2c 0%2c 255%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M269.47 1012.35 a192 192 0 1 0 384 0 a192 192 0 1 0 -384 0z' fill='rgba(136%2c 0%2c 255%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1569.071%2c524.295C1622.138%2c522.092%2c1670.043%2c493.001%2c1695.784%2c446.542C1720.749%2c401.483%2c1715.97%2c348.007%2c1692.009%2c302.406C1665.984%2c252.875%2c1624.969%2c207.831%2c1569.071%2c205.383C1509.591%2c202.778%2c1455.808%2c239.244%2c1425.952%2c290.754C1396.005%2c342.422%2c1391.519%2c406.96%2c1422.723%2c457.878C1452.725%2c506.834%2c1511.702%2c526.677%2c1569.071%2c524.295' fill='rgba(136%2c 0%2c 255%2c 1)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");

  display: flex;
  align-items: center;
  justify-content: center;
  
}

  /* MAIN BODY PART */
main{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1010%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M75.6 270C168.08 136.69 171.78 138.88 270 9.64C274.38 3.88 273.66 0.25 280.8 0C408.66 -4.57 410.4 0 540 0C675 0 675 0 810 0C945 0 945 0 1080 0C1215 0 1215 0 1350 0C1485 0 1485 0 1620 0C1755 0 1755 0 1890 0C2025 0 2092.5 -67.5 2160 0C2227.5 67.5 2160 135 2160 270C2160 368.32 2216.77 430.14 2160 466.63C2081.77 516.92 2005.22 417.54 1890 443.57C1842.86 454.22 1835.27 495.77 1835.27 540C1835.27 570.28 1857.58 573.35 1890 592.6C2019.95 669.78 2052.3 646.15 2160 732.86C2187.3 754.85 2160 771.43 2160 810C2160 894.38 2181.14 901.25 2160 978.75C2144.32 1036.25 2138.92 1060.29 2086.36 1080C2003.92 1110.91 1988.18 1080 1890 1080C1755 1080 1755 1080 1620 1080C1493.88 1080 1489.96 1088.86 1367.76 1080C1354.96 1079.07 1358.91 1060.43 1350 1060.43C1341.03 1060.43 1344.88 1079.07 1332 1080C1209.88 1088.85 1206 1080 1080 1080C945 1080 945 1080 810 1080C675 1080 675 1080 540 1080C405 1080 405 1080 270 1080C135 1080 67.5 1147.5 0 1080C-67.5 1012.5 0 945 0 810C0 675 0 675 0 540C0 469.43 -18.36 464.44 0 398.86C19.44 329.44 33.08 331.3 75.6 270' stroke='rgba(136%2c 0%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1080 189C1066.55 189 1066.2 231.45 1044.78 270C968.7 406.95 896.51 400.52 885 540C874.23 670.52 928.99 684.65 1000.23 810C1026.49 856.21 1040.32 883.13 1080 883.13C1119.2 883.13 1122.94 850.23 1158 810C1257.94 695.31 1251.86 689.64 1350 573.29C1365.73 554.64 1385.74 557.98 1385.74 540C1385.74 518.84 1370.95 514.58 1350 495C1226.52 379.58 1205.37 392.96 1096.88 270C1070.37 239.96 1092.6 189 1080 189' stroke='rgba(136%2c 0%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M165.6 270C165.6 199.41 210.99 193.86 270 130.18C336.09 58.86 333.25 39.8 415.8 0C468.25 -25.29 477.9 0 540 0C655 0 770 -33.11 770 0C770 39.1 645.31 60.84 540 144.42C475.21 195.84 429.8 206.89 429.8 270C429.8 333.96 480.19 338.93 540 398.57C615.56 473.93 617.61 472.64 700.54 540C752.61 582.29 768.1 567.15 810 617.88C879.59 702.15 854.33 724.01 923.52 810C989.33 891.79 1002.16 953.44 1080 953.44C1156.9 953.44 1161.41 886.29 1233 810C1296.41 742.44 1286.79 733.48 1350 665.75C1412.79 598.48 1485 607.94 1485 540C1485 460.06 1423.08 449.72 1350 370C1299.33 314.72 1237.5 327.66 1237.5 270C1237.5 190.57 1295.6 184.02 1350 95.81C1378.85 49.02 1358.45 16.16 1404 0C1493.45 -31.74 1512 0 1620 0C1755 0 1755 0 1890 0C1978.27 0 1987.15 -23.82 2066.54 0C2122.15 16.68 2141.52 27.6 2160 81C2188.25 162.6 2160 175.5 2160 270C2160 331.63 2200.1 391.35 2160 393.26C2065.1 397.78 1993.28 246.42 1890 282.86C1785.31 319.79 1744.05 422.05 1744.05 540C1744.05 620.75 1811.21 617.33 1890 680.26C1980.24 752.33 2082.12 732.93 2082.12 810C2082.12 906.39 1985.47 918.08 1890 1027.17C1867.32 1053.08 1877.37 1073.83 1845.82 1080C1742.37 1100.24 1732.91 1080 1620 1080C1538.29 1080 1525.1 1109.79 1456.58 1080C1390.1 1051.1 1403.48 962.61 1350 962.61C1296.19 962.61 1308.98 1050.88 1242 1080C1173.98 1109.57 1161 1080 1080 1080C945 1080 945 1080 810 1080C675 1080 675 1080 540 1080C405 1080 405 1080 270 1080C187.26 1080 160.48 1123.33 104.52 1080C25.48 1018.81 41.45 978.04 0 870.97C-10.81 843.04 0 840.49 0 810C0 705 -21.55 600 0 600C23.45 600 17.01 733.58 90 810C152.01 874.93 186.04 882.69 270 882.69C318.04 882.69 333.78 859.18 354 810C404.22 687.84 435.93 657.02 410.87 540C393.93 460.89 332.26 486.27 270 417.74C209.62 351.27 165.6 343.19 165.6 270' stroke='rgba(136%2c 0%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M255.6 270C255.6 260.26 261.78 250.71 270 250.71C280 250.71 292.04 260.2 292.04 270C292.04 280.04 279.95 290.38 270 290.38C261.73 290.38 255.6 280.1 255.6 270' stroke='rgba(136%2c 0%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1620 183.21C1544.73 167.48 1526.73 63.02 1526.73 0C1526.73 -28.59 1573.36 0 1620 0C1755 0 1755 0 1890 0C1913.36 0 1936.73 -13.06 1936.73 0C1936.73 24.91 1927.19 54.43 1890 75.94C1768.82 146.03 1726.37 205.45 1620 183.21' stroke='rgba(136%2c 0%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2045.25 270C2045.25 236.87 2123.1 193.5 2160 193.5C2180.47 193.5 2160 231.75 2160 270C2160 294.94 2176.36 319.89 2160 319.89C2118.98 319.89 2045.25 300.06 2045.25 270' stroke='rgba(136%2c 0%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1584.26 540C1625.26 486.36 1602.81 405 1620 405C1637.1 405 1612.75 486.11 1652.84 540C1747.75 667.57 1768.12 658.04 1890 767.92C1917.86 793.04 1952.31 785.01 1952.31 810C1952.31 841.26 1920.43 844.59 1890 880.43C1805.82 979.59 1819.78 1008.53 1723.09 1080C1684.78 1108.32 1671.55 1080 1620 1080C1582.7 1080 1572.96 1101.98 1545.39 1080C1437.96 994.37 1445.92 973.87 1350 864.78C1327.22 838.87 1308 837.1 1308 810C1308 783.82 1326.19 781.49 1350 758.22C1464.32 646.49 1490.26 662.97 1584.26 540' stroke='rgba(136%2c 0%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M504 810C504 722 481.26 641.96 540 630C634.26 610.81 686.85 675.44 810 747.69C840.26 765.44 846.82 777.04 846.82 810C846.82 860.46 854.52 902.77 810 914.52C701.11 943.27 655.29 930.38 540 891C502.29 878.12 504 852.5 504 810' stroke='rgba(136%2c 0%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M213.39 1080C213.39 1059.45 234.96 1012.5 270 1012.5C328.26 1012.5 400 1062.12 400 1080C400 1095.87 335 1080 270 1080C241.69 1080 213.39 1093.2 213.39 1080' stroke='rgba(136%2c 0%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M941.54 1080C941.54 1065.4 1014.69 1023.75 1080 1023.75C1119.92 1023.75 1152 1064.27 1152 1080C1152 1092.4 1116 1080 1080 1080C1010.77 1080 941.54 1093.53 941.54 1080' stroke='rgba(136%2c 0%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1010'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    
    margin-top: auto;
    position: relative;
}



/* ABOUT PAGE */
div.team{
  width: 100%;
  height: 100%;
  background-color: #8800FF;
  
  border-radius: 25%;
  padding: 2em;
  
  margin: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
div.team > a{
  margin-left: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* hover card */
.card{
  height: 300px;
  width: 300px;
  border-radius: 4px;
  
  display: grid;
  place-items: center;
  grid-template-areas: "main";
  
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}
.card > * {
  grid-area: main; /*oba dily jsou ve stejne bunce gridu*/
}


.card > .image{
  width: 100%;
  aspect-ratio: 1 / 1; /*donuti img na ctverec*/
  object-fit: cover;
  
  transition: transform 400ms, transform 400ms;
}

.card > .text{
  opacity: 0;
  color: white;
  font-size: 1.8em;
  
  transition: opacity 400ms, transform 400ms;
}
.card:is(:hover, :focus) > .image{
  transform: scale(1.1);
  filter: brightness(0.4);
}

.card:is(:hover, :focus) > .text{
  transform: scale(1.2);
  opacity: 1;
}



/* PRICING PAGE */
table.sluzby{
  font-size: 1.5em;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  
}
.sluzby td:nth-child(even){
  padding-left: 10em;
}
    
/* Portfolio page*/
.portfolio{
  color: #000 !important;
}


/* REFERENCE PAGE */

div.review-main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1em 4em 1em 4em;
  padding: 1em;
}
.review img{
  width: 33%;
  border-radius: 50%;
  margin: 1em;
}
div.review{
  background-color: #8800FF;
  padding: 1em 4em 1em 4em;
  margin-left: 1em;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
div.review:nth-of-type(2){ /* Posun prostředního div.review */
  margin-bottom: 3em;
}

/* main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
} */

span.intro{
  font-size: 1.5em;
  font-weight: bold;
  margin: 1em;
  text-align: center;
}


/* FOOTER PAGE*/
.footer-distributed{
	background: #fff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	overflow: hidden;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}


/* Footer left */
footer{
	background-color: #000 !important;
}
.footer-distributed .footer-left{
	float: left;
}

/* The company logo */

.footer-distributed h3{
	font: normal 36px 'Roboto', cursive;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #33383b;
	
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

/* Responzivní část */

@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}
}