@font-face {
    font-family: "Maven PRO";
    src: url("../extra/static/MavenPro-Regular.ttf") format("truetype");
}

* {
<<<<<<< Updated upstream
    font-family: "Maven PRO";
=======
    font-family: "Maven PRO" !important;
    color: #ffffff;
>>>>>>> Stashed changes
}


